.badge {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  height: 2em;
  font-size: var(--size-08);
  padding: 0.5em;
  border-radius: var(--s-05);
  border: var(--border-width) solid;

  span {
    font-family: PatrickHand, sans-serif;
    padding: 0 0.5em;
  }

  svg {
    width: 1em;
    height: 1em;
  }
}

.default {
  background-color: var(--gray-200);
  border-color: var(--gray-200);
}

.white {
  border-color: var(--gray-200);
}

.black {
  color: var(--white);
  background-color: var(--black);
  border-color: var(--black);

  svg {
    path {
      fill: var(--white);
    }
  }
}

.badge-enter {
  animation: badge-slide-in 250ms ease-out;
}

.badge-leave {
  animation: badge-slide-out 250ms ease-in;
}

@keyframes badge-slide-in {
  from {
    opacity: 0;
    transform: translateY(40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes badge-slide-out {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(40px);
  }
}

.close {
  cursor: pointer;
}
