// Estilos compartidos de <app-button>, <app-button-icon>, <app-button-floating-action>.

@mixin host-base {
  display: inline-block;
  font-family: Inter, sans-serif;

  &.disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }

  button {
    cursor: pointer;
    transition: background-color 0.2s ease;
    position: relative;

    &:disabled {
      background-color: var(--gray-400);
      cursor: not-allowed;
    }
  }
}

@mixin sizes {
  &.lg button {
    height: var(--size-28);
    font-size: var(--size-14);
  }

  &.md button {
    height: var(--size-20);
    font-size: var(--size-10);
  }

  &.sm button {
    height: var(--size-12);
    font-size: var(--size-06);
  }
}

@mixin variants {
  &.solid button {
    color: var(--white);
    background-color: var(--black);
    border: var(--border);

    path {
      fill: var(--white);
    }

    &:active:not(:disabled) {
      background-color: var(--gray-600);
      border-color: var(--gray-600);
    }
  }

  &.outline button {
    color: var(--black);
    background-color: transparent;
    border: var(--border);

    path {
      fill: var(--black);
    }

    &:active:not(:disabled) {
      background-color: var(--gray-100);
    }
  }

  &.ghost button {
    color: currentColor;
    background-color: transparent;
    border: none;

    path {
      fill: var(--black);
    }

    &:active:not(:disabled) {
      background-color: var(--gray-100);
      border-color: var(--gray-100);
    }
  }
}
