.icon-field {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  width: 100%;
  height: var(--size-20);
  font-size: var(--size-10);
  padding-left: 2em;
}

svg-icon {
  position: absolute;
  left: 0.5em;
  font-size: var(--size-10);
  z-index: 1;
  
  path {
    fill: var(--black);
  }
}
