.message-row {
  width: 100%;
  height: var(--size-40);
  display: grid;
  align-items: center;
  grid-template-columns: var(--size-20) auto;
  border-bottom: solid var(--border-width) var(--black);
  gap: 0.5em;
  cursor: pointer;

  img {
    width: var(--size-20);
    height: var(--size-20);
    border-radius: 50%;
  }

  .icon {
    width: var(--size-20);
    height: var(--size-20);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--gray-200);
    border-radius: 50%;

    svg {
      width: var(--size-10);
      width: var(--size-10);
    }
  }

  .text {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: PatrickHand, sans-serif;
    cursor: pointer;

    label {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 2em;
      cursor: pointer;

      .label {
        display: flex;
        align-items: flex-start;
        font-size: var(--size-10);
        cursor: pointer;
      }

      .date {
        font-size: var(--size-08);
        text-transform: capitalize;
      }
    }

    .description {
      color: var(--gray-400);
      font-size: var(--size-08);
      cursor: pointer;
    }
  }
}

.message-row:hover {
  text-decoration: none !important;
}
