@font-face {
  font-family: 'PatrickHand';
  src: url('./fonts/patrick-hand/PatrickHand-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'InterBlack';
  src: url('./fonts/inter/Inter-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'InterBold';
  src: url('./fonts/inter/Inter-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'InterLight';
  src: url('./fonts/inter/Inter-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'InterMedium';
  src: url('./fonts/inter/Inter-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/inter/Inter-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'InterThin';
  src: url('./fonts/inter/Inter-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
