$size: 18px;
$size-vw: 2vw;

$size-01: calc($size * 0.1);
$size-02: calc($size * 0.2);
$size-03: calc($size * 0.3);
$size-04: calc($size * 0.4);
$size-05: calc($size * 0.5);
$size-06: calc($size * 0.6);
$size-07: calc($size * 0.7);
$size-08: calc($size * 0.8);
$size-09: calc($size * 0.9);
$size-10: calc($size * 1.0);
$size-11: calc($size * 1.1);
$size-12: calc($size * 1.2);
$size-13: calc($size * 1.3);
$size-14: calc($size * 1.4);
$size-15: calc($size * 1.5);
$size-16: calc($size * 1.6);
$size-17: calc($size * 1.7);
$size-18: calc($size * 1.8);
$size-19: calc($size * 1.9);
$size-20: calc($size * 2.0);
$size-21: calc($size * 2.1);
$size-22: calc($size * 2.2);
$size-23: calc($size * 2.3);
$size-24: calc($size * 2.4);
$size-25: calc($size * 2.5);
$size-26: calc($size * 2.6);
$size-27: calc($size * 2.7);
$size-28: calc($size * 2.8);
$size-29: calc($size * 2.9);
$size-30: calc($size * 3.0);
$size-31: calc($size * 3.1);
$size-32: calc($size * 3.2);
$size-33: calc($size * 3.3);
$size-34: calc($size * 3.4);
$size-35: calc($size * 3.5);
$size-36: calc($size * 3.6);
$size-37: calc($size * 3.7);
$size-38: calc($size * 3.8);
$size-39: calc($size * 3.9);
$size-40: calc($size * 4.0);
$size-41: calc($size * 4.1);
$size-42: calc($size * 4.2);
$size-43: calc($size * 4.3);
$size-44: calc($size * 4.4);
$size-45: calc($size * 4.5);
$size-46: calc($size * 4.6);
$size-47: calc($size * 4.7);
$size-48: calc($size * 4.8);
$size-49: calc($size * 4.9);
$size-50: calc($size * 5.0);
$size-51: calc($size * 5.1);
$size-52: calc($size * 5.2);

$size-vw03: calc($size-vw * 0.6);
$size-vw04: calc($size-vw * 0.8);
$size-vw05: calc($size-vw * 1.0);
$size-vw06: calc($size-vw * 1.2);
$size-vw07: calc($size-vw * 1.4);
$size-vw08: calc($size-vw * 1.6);
$size-vw09: calc($size-vw * 1.8);
$size-vw10: calc($size-vw * 2.0);
$size-vw11: calc($size-vw * 2.2);
$size-vw12: calc($size-vw * 2.4);
$size-vw13: calc($size-vw * 2.6);
$size-vw14: calc($size-vw * 2.8);
$size-vw15: calc($size-vw * 3.0);
$size-vw16: calc($size-vw * 3.2);
$size-vw17: calc($size-vw * 3.4);
$size-vw18: calc($size-vw * 3.6);
$size-vw19: calc($size-vw * 3.8);
$size-vw20: calc($size-vw * 4.0);
$size-vw21: calc($size-vw * 4.2);
$size-vw22: calc($size-vw * 4.4);
$size-vw23: calc($size-vw * 4.6);
$size-vw24: calc($size-vw * 4.8);
$size-vw25: calc($size-vw * 5.0);
$size-vw26: calc($size-vw * 5.2);
$size-vw27: calc($size-vw * 5.4);
$size-vw28: calc($size-vw * 5.6);
$size-vw29: calc($size-vw * 5.8);
$size-vw30: calc($size-vw * 6.0);
$size-vw31: calc($size-vw * 6.2);
$size-vw32: calc($size-vw * 6.4);
$size-vw33: calc($size-vw * 6.6);
$size-vw34: calc($size-vw * 6.8);
$size-vw35: calc($size-vw * 7.0);
$size-vw36: calc($size-vw * 7.2);
$size-vw37: calc($size-vw * 7.4);
$size-vw38: calc($size-vw * 7.6);
$size-vw39: calc($size-vw * 7.8);
$size-vw40: calc($size-vw * 8.0);
$size-vw41: calc($size-vw * 8.2);
$size-vw42: calc($size-vw * 8.4);
$size-vw43: calc($size-vw * 8.6);
$size-vw44: calc($size-vw * 8.8);
$size-vw45: calc($size-vw * 9.0);
$size-vw46: calc($size-vw * 9.2);
$size-vw47: calc($size-vw * 9.4);
$size-vw48: calc($size-vw * 9.6);
$size-vw49: calc($size-vw * 9.8);
$size-vw50: calc($size-vw * 10.0);

$clamp-03: clamp($size-01, $size-vw03, $size-05);
$clamp-04: clamp($size-02, $size-vw04, $size-06);
$clamp-05: clamp($size-03, $size-vw05, $size-07);
$clamp-06: clamp($size-04, $size-vw06, $size-08);
$clamp-07: clamp($size-05, $size-vw07, $size-09);
$clamp-08: clamp($size-06, $size-vw08, $size-10);
$clamp-09: clamp($size-07, $size-vw09, $size-11);
$clamp-10: clamp($size-08, $size-vw10, $size-12);
$clamp-11: clamp($size-09, $size-vw11, $size-13);
$clamp-12: clamp($size-10, $size-vw12, $size-14);
$clamp-13: clamp($size-11, $size-vw13, $size-15);
$clamp-14: clamp($size-12, $size-vw14, $size-16);
$clamp-15: clamp($size-13, $size-vw15, $size-17);
$clamp-16: clamp($size-14, $size-vw16, $size-18);
$clamp-17: clamp($size-15, $size-vw17, $size-19);
$clamp-18: clamp($size-16, $size-vw18, $size-20);
$clamp-19: clamp($size-17, $size-vw19, $size-21);
$clamp-20: clamp($size-18, $size-vw20, $size-22);
$clamp-21: clamp($size-19, $size-vw21, $size-23);
$clamp-22: clamp($size-20, $size-vw22, $size-24);
$clamp-23: clamp($size-21, $size-vw23, $size-25);
$clamp-24: clamp($size-22, $size-vw24, $size-26);
$clamp-25: clamp($size-23, $size-vw25, $size-27);
$clamp-26: clamp($size-24, $size-vw26, $size-28);
$clamp-27: clamp($size-25, $size-vw27, $size-29);
$clamp-28: clamp($size-26, $size-vw28, $size-30);
$clamp-29: clamp($size-27, $size-vw29, $size-31);
$clamp-30: clamp($size-28, $size-vw30, $size-32);
$clamp-31: clamp($size-29, $size-vw31, $size-33);
$clamp-32: clamp($size-30, $size-vw32, $size-34);
$clamp-33: clamp($size-31, $size-vw33, $size-35);
$clamp-34: clamp($size-32, $size-vw34, $size-36);
$clamp-35: clamp($size-33, $size-vw35, $size-37);
$clamp-36: clamp($size-34, $size-vw36, $size-38);
$clamp-37: clamp($size-35, $size-vw37, $size-39);
$clamp-38: clamp($size-36, $size-vw38, $size-40);
$clamp-39: clamp($size-37, $size-vw39, $size-41);
$clamp-40: clamp($size-38, $size-vw40, $size-42);
$clamp-41: clamp($size-39, $size-vw41, $size-43);
$clamp-42: clamp($size-40, $size-vw42, $size-44);
$clamp-43: clamp($size-41, $size-vw43, $size-45);
$clamp-44: clamp($size-42, $size-vw44, $size-46);
$clamp-45: clamp($size-43, $size-vw45, $size-47);
$clamp-46: clamp($size-44, $size-vw46, $size-48);
$clamp-47: clamp($size-45, $size-vw47, $size-49);
$clamp-48: clamp($size-46, $size-vw48, $size-50);
$clamp-49: clamp($size-47, $size-vw49, $size-51);
$clamp-50: clamp($size-48, $size-vw50, $size-52);

:root {
  --white: #FFFFFF;
  --gray-100: #EEEEEE;
  --gray-200: #D8D8D8;
  --gray-300: #B4B4B4;
  --gray-400: #929292;
  --gray-500: #696969;
  --gray-600: #454545;
  --gray-700: #1B1B1B;
  --black: #000000;

  --red: #E12B56;
  --orange: #FA9248;
  --dandelion: #FFDE75;
  --inchworm: #BCE051;
  --green: #4DA764;
  --caribbean-green: #37D4AD;
  --robins-egg-blue: #44CECE;
  --blue-green: #2799B2;
  --blue: #2B71DB;
  --purple-heart: #633DA2;
  --pink-flamingo: #EA82EB;
  --razzmatazz: #E23274;
  
  --border-width: 2.5px;
  --border: 2.5px #000000 solid;

  --s-01: #{$size-01};
  --s-02: #{$size-02};
  --s-03: #{$size-03};
  --s-04: #{$size-04};
  --s-05: #{$size-05};
  --s-06: #{$size-06};
  --s-07: #{$size-07};
  --s-08: #{$size-08};
  --s-09: #{$size-09};
  --s-10: #{$size-10};
  --s-15: #{$size-15};
  --s-25: #{$size-25};

  --size-03: #{$clamp-03};
  --size-04: #{$clamp-04};
  --size-05: #{$clamp-05};
  --size-06: #{$clamp-06};
  --size-07: #{$clamp-07};
  --size-08: #{$clamp-08};
  --size-09: #{$clamp-09};
  --size-10: #{$clamp-10};
  --size-11: #{$clamp-11};
  --size-12: #{$clamp-12};
  --size-13: #{$clamp-13};
  --size-14: #{$clamp-14};
  --size-15: #{$clamp-15};
  --size-16: #{$clamp-16};
  --size-17: #{$clamp-17};
  --size-18: #{$clamp-18};
  --size-19: #{$clamp-19};
  --size-20: #{$clamp-20};
  --size-21: #{$clamp-21};
  --size-22: #{$clamp-22};
  --size-23: #{$clamp-23};
  --size-24: #{$clamp-24};
  --size-25: #{$clamp-25};
  --size-26: #{$clamp-26};
  --size-27: #{$clamp-27};
  --size-28: #{$clamp-28};
  --size-29: #{$clamp-29};
  --size-30: #{$clamp-30};
  --size-31: #{$clamp-31};
  --size-32: #{$clamp-32};
  --size-33: #{$clamp-33};
  --size-34: #{$clamp-34};
  --size-35: #{$clamp-35};
  --size-36: #{$clamp-36};
  --size-37: #{$clamp-37};
  --size-38: #{$clamp-38};
  --size-39: #{$clamp-39};
  --size-40: #{$clamp-40};
  --size-41: #{$clamp-41};
  --size-42: #{$clamp-42};
  --size-43: #{$clamp-43};
  --size-44: #{$clamp-44};
  --size-45: #{$clamp-45};
  --size-46: #{$clamp-46};
  --size-47: #{$clamp-47};
  --size-48: #{$clamp-48};
  --size-49: #{$clamp-49};
  --size-50: #{$clamp-50};
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark {
  --white: #000000;
  --gray-100: #1B1B1B;
  --gray-200: #454545;
  --gray-300: #696969;
  --gray-400: #929292;
  --gray-500: #B4B4B4;
  --gray-600: #D8D8D8;
  --gray-700: #EEEEEE;
  --black: #FFFFFF;

  --red: #E12B56;
  --orange: #FA9248;
  --dandelion: #FFDE75;
  --inchworm: #BCE051;
  --green: #4DA764;
  --caribbean-green: #37D4AD;
  --robins-egg-blue: #44CECE;
  --blue-green: #2799B2;
  --blue: #2B71DB;
  --purple-heart: #633DA2;
  --pink-flamingo: #EA82EB;
  --razzmatazz: #E23274;

  --border: 2px #FFFFFF solid;
}