@use '../button-base' as *;

:host {
  @include host-base;

  button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border-radius: var(--s-05);
    line-height: inherit;
    padding: 0 0.5em;
  }

  @include sizes;
  @include variants;
}
